.content2 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.content2_left {
  flex: 0 0 50%;
  /* text-align: center; */
}

.content2_right {
  flex: auto;
  margin-bottom: 0;
}

.content2_right ul {
  padding-left: 0;
}

.content2_right ul>li {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
  padding: 15px;
  padding-left: 0;
}

.content2_right ul>li>div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media (max-width: 1440px) {
  .content2_right {
    flex: 0 0 55%;
  }
}

@media (max-width: 1200px) {
  .content2 {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .content2_right ul>li>div {
    width: 50px;
    height: 50px;
  }
}

/* @media screen and (prefers-color-scheme: dark){
    .content2_right ul > li > div{
        background-color: var(--dark-theme-circles-color);
    }
}

@media screen and (prefers-color-scheme: light){
    .content2_right ul > li > div{
        background-color: var(--light-theme-circles-color);
    }
} */