.content2{  
    display: grid; grid-template-columns: 2fr 1fr; 
    grid-gap: 10vw;
    opacity: .9;
}

@media (max-width: 800px){
     .content2{
        display: grid;
        grid-template: none;
        grid-template-rows: max-content max-content;
     }
}