.content7{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content7-cases{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    width: 100%; 
    row-gap: 25px;
}

.content7-cases-case{
    background: var(--dark-theme-principle-form-background-color);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: url("../img/cases/cabel.jpg");
    background-repeat: no-repeat;
    background-size: 200px;
    background-position:right; */
    /* background-color: black; */
}

.content7-cases-first-case{
    width: 100%;
    /* height: 400px; */
    height: auto;
}

.content7-cases-first-case-text{
    width: 80%;
}

.content7-cases-case a{
    opacity: .5;
    transition: .2s;
}

.content7-cases-case a:hover{
    opacity: 1;
    transition: .2s;
}

.content7-cases-other-case{
    width: 48%;  
    /* height: 600px;  */
    height: auto;
}

.content7-cases-case-tags{
    display: flex; 
    gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.content7-cases-case-tags-tag{
    border: 2px solid black; 
    padding: 7px 15px; 
    border-radius: 20px;
    background-color: #202653b8;
}


@media (max-width: 1200px){
    .content7-cases-first-case{
        height: 100%;
    }
    .content7-cases-first-case-text{
        width: 100%;
    }
    .content7-cases-other-case{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px){
    .content7-cases-case{
        border-radius: 30px;
        padding: 30px;
    }
}