.footer{
    background-color: #121920; 
    position: relative; 
    padding: 40px 160px 40px 170px;
}


@media (max-width: 1200px){
    .footer{
        padding: 20px 160px 20px 170px;
    }
}


@media (max-width: 1000px){
    .footer{
        padding: 20px 110px 20px 120px;
    }
}
 
@media (max-width: 800px){
    .footer{
        padding: 20px 60px 20px 70px;
    }
}



@media (max-width: 500px){
    .footer{
        padding: 10px 30px;
    }
}

@media screen and (prefers-color-scheme: dark){
    .footer{
        background-color: var(--dark-theme-section-background-color);
    }
}

@media screen and (prefers-color-scheme: light){
    .footer{
        background-color: var(--light-theme-section-background-color);
    }
}