.header{ 
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    height: 80px;
    /* width: 100vw; */
    background-color: var(--dark-theme-header-background-color);
    z-index: 32;
}

.header-wrap{
    padding-left: 5.5vw;
    padding-right: 5.5vw; 
    height: 100%;
}

.header_content{
    display: grid; 
    grid-template-columns: 4vw 80vw 4vw;
    grid-gap: 0.5vw; 
    height: 100%;
}

.left_header_content{
    align-self: center;
    justify-self: end;
    width: 60px;
    height: 60px;
}

.left_header_content > img{
    width: 60px;
    height: 60px;
}

.center_header_content{
    display: grid; 
    grid-template-columns: 1fr 2.5fr;
}

.left_center_header_content{
    /* font-size: 1.1em;  */
    justify-self: start;  
    font-family: inter; 
    align-self: center;
}

.left_center_header_content img {
    display: none;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.left_center_header_content div {
    display: inline-block;
    vertical-align: middle;
}


.right_center_header_content{
    padding: 0vh 0vw 0vh 4vw; 
    text-align: end; 
    align-self: center;
}

#header_first_link{
    display: inline-block; 
    margin: 0vh 0.5vw 0vh 0.5vw; 
    vertical-align: middle;
    opacity: .5;
    transition: opacity 0.2s;
    
}

#header_second_link{
    display: inline-block; 
    margin: 0vh 0.5vw 0vh 0.5vw; 
    vertical-align: middle;
    opacity: .5;
    transition: opacity 0.2s;
}

#header_first_link:hover{
    opacity: .9;
    transition: opacity 0.2s;
}

#header_second_link:hover{
    opacity: .9;
    transition: opacity 0.2s;
}

#header_third_link{
    display: inline-block; 
    background-color: var(--dark-theme-contact-background-color); 
    border-radius: 30px; 
    margin: 0vh 0vw 0vh 0.5vw; 
    padding: 4px 2vw; 
    vertical-align: middle;
    transition: 0.3s;
    cursor: pointer;
}

#header_third_link:hover {
    background-color: rgb(34, 34, 249);
    transition: 0.3s;
}

#header_third_link:hover > div > a{
    color: white;
    transition: 0.3s;
}

#header_button{
    display: none; 
    vertical-align: middle;
}


@media (max-width: 1000px){
    .left_header_content{
        width: 50px;
        height: 50px;
    }

    .left_header_content > img{
        width: 50px;
        height: 50px;
    }
    
}
 
@media (max-width: 800px){
    .header-wrap{
        padding-left: 9.5vw;
    }
    
    .header_content{ 
        grid-template-columns: 80vw 4vw;
    }

    .left_header_content{
        display: none;
    }

    .left_center_header_content div {
        font-size: 20px;
    }

    .left_center_header_content > img {
        display: inline-block;
    }

     .center_header_content{
        grid-template-columns: 2.5fr 1fr;
     }
    #header_first_link{
        display: none;
    }

    #header_second_link{
        display: none;
    }

    #header_third_link{
        display: none;
    }

    #header_button{
        display: inline-block;
    }
}